body {
    line-height: 1.6;
    font-size: 17px;
}
img {
    display: block;
    width: 100%;
    height: auto;
}

section {
    padding: 40px 0;
}

h1 {
    text-align: center;
    font-weight: bold;
}

h4 {
    font-size: 1.8em;
    font-weight: bold;
}

.center {
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
    font-size: 17px;
}


.item {
    display: block;
    margin: 40px 0;

    @media (min-width: 768px) {
        max-width: 550px;
        margin: 40px auto;
    }


    @media (min-width: 1200px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 25px;
    }
   
    @media (min-width: 1400px) {
        grid-template-columns: 220px 1fr;
        gap: 20px;
    }

    @media (min-width: 1600px) {
        grid-template-columns: 280px 1fr;
    }
    @media (min-width: 1780px) {
        grid-template-columns: 320px 1fr;
    }
}

.item img {
    border-radius: 17px;
}

.item .content {
    margin-top: 30px;

    @media (min-width: 1200px) {
        margin-top: 0;
    }
}

.item .content .price {
    font-size: 26px;
    font-weight: bold;
    color: green;

    @media (min-width: 1200px) {
        font-size: 22px;
    }
}


h1 {
    @media (min-width: 1200px) {
        font-size: 2.5em;
    }
}

.tx-large {
    font-size: 20px;
}

.max-w2 {
    max-width: 200px;
}

.max-w3 {
    max-width: 300px;
}

.max-w4 {
    max-width: 400px;
}
.max-w5 {
    max-width: 500px;
}




